.leaflet-extremum-control-measure a {
    background: #fff url(../images/measure.png) no-repeat 0 0;
    background-size: 22px 48px;
}

.leaflet-touch .leaflet-extremum-control-measure a {
    background-position: 4px 4px;
}

.leaflet-touch.leaflet-extremum-measure-on .leaflet-extremum-control-measure a {
    background-position: 4px -22px;
}

.leaflet-extremum-measure-popup .leaflet-popup-tip {
    width: 12px;
    height: 12px;
}

.leaflet-extremum-measure-popup .leaflet-popup-content {
    margin: 2px 22px 2px 5px;
}

.leaflet-extremum-measure-popup .leaflet-popup-content-wrapper {
    border-radius: unset;
}

@media
  (-webkit-min-device-pixel-ratio:2),
  (min-resolution:192dpi) {
    .leaflet-extremum-control-measure a {
      background-image:url(../images/measure@2x.png);
    }
  }
